*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-style: normal;
}

/*spacing tokens*/
:root{
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 12px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    --spacing-xxxl: 64px;
    --spacing-xxxxl: 96px;
}
/*text styles*/
:root{
    --heading-fontSize: 36px;
    --sectionTitle-fontSize:32px;
    --navigationText-fontSize:16px;
    --text--big-fontSize:24px;
    --text--small-fontSize:20px;
    --cardTitle-fontSize:32px;
    --cardText-fontSize:16px;
}
.categoryCards {

}

.categoryCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; /* Only the main container uses position: relative */
}

.categoryCard__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.categoryCardText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryCardText__title {
    z-index: 2; /* Does so its above the cloud */
    font-size: var(--cardTitle-fontSize);
    text-align: center;
    padding: 16px;
}

.catagoryCard__cloud {
    position: absolute;
    top: 65%; /* So its positioned correctly on the card */
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the cloud */
    z-index: 1; /* so the cloud is BEHIND the title */
    width: 100%;
    height: auto;
}

.categoryCardText__paragraph {
    z-index: 2;
    text-align: center;
    font-size: var(--cardText-fontSize);
}